  @keyframes slideServices {
    0% {
      transform: translateX(0%);
    }
    13.6% {
      transform: translateX(0%);
    }

    14.9% {
      transform: translateX(-100%);
    }
    28.5% {
      transform: translateX(-100%);
    }

    29.8% {
      transform: translateX(-200%);
    }
    43.4% {
      transform: translateX(-200%);
    }

    44.7% {
      transform: translateX(-300%);
    }
    58.3% {
      transform: translateX(-300%);
    }

    59.6% {
      transform: translateX(-400%);
    }
    73.2% {
      transform: translateX(-400%);
    }

    74.5% {
      transform: translateX(-500%);
    }
    88.1% {
      transform: translateX(-500%);
    }

    89.4% {
      transform: translateX(-600%);
    }
    100% {
      transform: translateX(-600%);
    }
  }

  .animate-service-slide {
    animation: slideServices 50s linear alternate;
  }
      